* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 1px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  body{
    margin: 0;
    padding: 0;
    font-size:14px;
    font-family: sans-serif;
}

.loginbox{
  font-size: 16px;
    width: 340px;
    height: auto;
    background: rgba(0, 0, 0, 0.726);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0px 0px 30px rgb(30, 30, 30);
}

.avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
}

.error 
{
  display: block;
  margin-bottom: 10px;
  margin-top: -10px;
}


h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    margin-top: 10px;
    border: none;
    outline: none;
    height: 40px;
    background: #317e35;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #fdfcf9;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #82d668;
    font-size:13px;
}

.zasignup{
  width: 340px;
    height: auto;
    background: rgba(0, 0, 0, 0.726);
    color: #fff;
    top: 69%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0px 0px 30px rgb(30, 30, 30);
    
}


.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}




.izletibox {
  width: 340px;
    height: 710px;
    background: rgba(0, 0, 0, 0.726);
    color: #fff;
    top: 52%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0px 0px 30px rgb(30, 30, 30);
}

.izletibox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.izletibox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #317e35;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.izletibox input[type="submit"]:hover
{
  cursor: pointer;
  background: #fdfcf9;
  color: #000;
}
.izletibox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.izletibox a:hover
{
  color: #82d668;
  font-size:13px;
}

.izletibox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.izletibox input{
  width: 100%;
  margin-bottom: 20px;
}
