<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }} - Home</title>
    {% else %}
    <title>Welcome to Travel.hr</title>
    {% endif %}
</head>
<body>
    <div>Navbar</div>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    <hr> <!-- CRTA -->
    {% block content %}{% endblock %}
</body>
</html>