<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div class="trip-detalji">
        <img src="/static/izlet_pics/{{ izlet.image_file }}" alt="">
        <p>Naziv:</p>
        {{ izlet.naziv }}
        <p>Destinacija:</p>
        {{ izlet.destinacija }}
        <p>Cijena:</p>
        {{ izlet.cijena }}
        <p>Polazak:</p>
        {{ izlet.polazak }}
        <p>Dolazak:</p>
        {{ izlet.dolazak }}
        <p>Opis:</p>
        {{ izlet.opis }}

    </div>
    

</body>
</html>