<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Trips</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="static/css/mojcss.css">
</head>
<body>
        <video autoplay muted loop id="myVideo">
                <source src="static/veca.mp4" type="video/mp4">        
              </video>
    <div class="izletibox addtrip">
            <img src="static/malii.png" class="avatar2">
        <h1 style="font-family: Lobster;font-size: 35px" class="tracking-in-expand-fwd">Add new <span style ="color:rgb(41, 124, 63)">trip</span></h1>
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}

        <div class="forme">
        {{ form.name.label(class="label") }}
        {{ form.name(size=32, class="input", placeholder="Trip name...") }}
        {% for error in form.name.errors %}
                <span style="color: red;font-size: 12px">[{{ error }}]</span>
                {% endfor %}
        </div>

        <div class="forme">
            {{ form.location.label(class="label") }}
            {{ form.location(size=32, class="input", placeholder="Trip location") }}
            {% for error in form.location.errors %}
                <span style="color: red;font-size: 12px">[{{ error }}]</span>
                {% endfor %}
        </div>

        <div class="forme">
            {{ form.start.label(class="label") }}
            {{ form.start(class="input") }}
            {% for error in form.start.errors %}
                <span style="color: red;font-size: 12px">[{{ error }}]</span>
                {% endfor %}
        </div>
        
        <div class="forme">
            {{ form.end.label(class="label") }}
            {{ form.end(class="input") }}
            {% for error in form.end.errors %}
                <span style="color: red;font-size: 12px">[{{ error }}]</span>
                {% endfor %}
        </div>

        <div class="forme">
            <div>{{ form.description.label(class="label", placeholder="Trip info...") }}</div>
            <div class="sirina">{{ form.description(class="input") }}</div>
            {% for error in form.description.errors %}
                <span style="color: red;font-size: 12px">[{{ error }}]</span>
                {% endfor %}
        </div>

        <div class="forme">
            {{ form.price.label(class="label", placeholder="Price (€)") }}
            {{ form.price(size=32, class="input", placeholder="Trip costs...") }}
            
            {% for error in form.price.errors %}
                <span style="color: red;font-size: 12px">[{{ error }}]</span>
                {% endfor %}
        </div>

         <div class="forme">
            {{ form.picture.label(class="label") }}
            {{ form.picture(class="input") }}
            {% for error in form.picture.errors %}
                <span style="color: red;font-size: 12px">[{{ error }}]</span>
                {% endfor %}
            {{ form.submit() }}
             <a href="{{ url_for('homepage') }}"><center>Back to home</center></a>
        </div> 

    </form>
    </div>
</body>
</html>