<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="mojcss.css">
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="veca.mp4" type="video/mp4">        
      </video>
      <div class="loginbox zasignup">
        <img src="avatar.png" class="avatar">
            <h1 style="font-family:Lobster;font-size: 30px">Sign up!</h1>
            <form>
                <p>Enter your mail</p>
                <input type="text" name="" placeholder="Enter e-mail"><br>
                <p>Enter your full name</p>
                <input type="text" name="" placeholder="Enter full name"><br>
                <p>Enter username</p>
                <input type="text" name="" placeholder="Enter username"><br>
                <p>Enter your password</p>
                <input type="password" name="" placeholder="Enter password"><br>
                <p>Repeat your password</p>
                <input type="password" name="" placeholder="Repeat password"><br>
                
                <input type="submit" name="" value="Sign up!">
                
                <a href="mojhtml.html"><center>Log in!</center></a>
                
                
            </form>
            
        </div>
</body>
</html>