{% extends "base.html" %}

{% block content %}

<section class="intro-area white" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 style="font-family:lobster; font-size:50px;">Popular <span>Places</span></h2> 
                    <div class="sub-heading">
                        <p style="font-size: 16px;">
                           <br> Here you can see some of our latest trips.<br>    
                             By clicking on picture you’ll be redirected on trip site where you can join trip with other participants.

                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
               
                     <div class="col-sm-4">
                            <div class="intro-block" style="box-shadow: 1px 1px 18px #888888;">
                               <img src="/static/zdr1.jpg">
                               <i class="fa fa-star"></i></span>
                               <i class="fa fa-star"></i></span>
                               <i class="fa fa-star"></i></span>
                               <h3>Corporate Branding</h3>
                               <p>
                                       Lorem Ipsum is simply dummy text of the printing and typesetings 
                                       industry.Lorem Ipsum hes been idustry's standard dummy
                               </p>
                            </div>
                        </div>

                        
                     <div class="col-sm-4">
                        <div class="intro-block" style="box-shadow: 1px 1px 18px #888888;">
                           <img src="/static/zdr1.jpg">
                           <i class="fa fa-star"></i></span>
                           <i class="fa fa-star"></i></span>
                           <i class="fa fa-star"></i></span>
                           <h3>Corporate Branding</h3>
                           <p>
                                   Lorem Ipsum is simply dummy text of the printing and typesetings 
                                   industry.Lorem Ipsum hes been idustry's standard dummy
                           </p>
                        </div>
                    </div>

                    
                    <div class="col-sm-4">
                        <div class="intro-block" style="box-shadow: 1px 1px 18px #888888;">
                            <img src="/static/zdr1.jpg">
                           <i class="fa fa-star"></i></span>
                           <i class="fa fa-star"></i></span>
                           <i class="fa fa-star"></i></span>
                           <h3>Corporate Branding</h3>
                           <p>
                                   Lorem Ipsum is simply dummy text of the printing and typesetings 
                                   industry.Lorem Ipsum hes been idustry's standard dummy
                           </p>
                        </div>
                    </div>

{% endblock %}
